h1 {
  color: #ffc107;
}
.formMain {
  margin: 0 auto;
  input {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    height: 30px;
    padding-left: 10px;
  }
  button {
    margin-top: 15px;
    width: 85px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    background: #ffc107;
    border: 0px;
  }
  button:hover {
    cursor: pointer;
    background: #ffbf00b5;
  }
}
