.madalOverlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #949494a6;
}
.modalWindow {
  position: relative;
  width: 300px;
  height: 20%;
  margin: 0 auto;
  margin-top: 10%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.modalBody {
  text-align: initial;
  padding: 15px;
}
.modalFooter {
  position: absolute;
  bottom: 15px;
  right: 20px;
  button {
    width: 85px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    background: #ff0c00cf;
    border: 0px;
  }
  button:hover {
    cursor: pointer;
    background: #e91b11cf;
  }
}
